/* General rules */
* {
  box-sizing: border-box;
}
body {
  background-color: #f3f3f3;
  padding: 80px 0px;
}
h1, ::placeholder, textarea {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #000000;
}
span {
  color: #aaaaaa;
}
strong {
  font-weight: 700;
}
::placeholder, ::-webkit-input-placeholder{
  font-size: 18px;
  font-style: italic;
}

/* Top and Bottom Menu */
.menu {
  width: 100%;
  height: 80px;
  background-color: #ffffff;
  padding: 0px 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 1;
}

.top {
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
  top: 0;
  left: 0;
}

.top ion-icon {
  font-size: 45px;
}

.bottom {
  box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
  bottom: 0;
  left: 0;
}

.bottom ion-icon {
  font-size: 30px;
}

textarea{
  width: 95%;
  height: 65px;
  font-size: 18px;
  border: none;
  outline: none;
  resize: none;
}

/* Chat */
.chat {
  width: 100%;
  padding: 22px 0px;
}

/* Type of messages */
.status {
  background-color: #dcdcdc;
}
.message {
  background-color: #ffffff;
}
.private-message {
  background-color: #ffdede;
}

/* Messages */
li {
  margin: 4px 0px;
  padding: 10px;
  border-radius: 2px;
}
li h1 {
  font-size: 14px;
  line-height: 20px;
}
